USE [master]
GO
/****** Object:  Database [COMICSHOP2]    Script Date: 24/06/2016 16:59:38 ******/
CREATE DATABASE [COMICSHOP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMICSHOP2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\COMICSHOP2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'COMICSHOP2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\COMICSHOP2_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMICSHOP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMICSHOP2]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 24/06/2016 16:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](35) NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/06/2016 16:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](35) NULL,
	[endereco] [varchar](35) NULL,
	[cidade] [varchar](25) NULL,
	[estado] [varchar](2) NULL,
	[aniversario] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HQ]    Script Date: 24/06/2016 16:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HQ](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](35) NULL,
	[autor_ID] [int] NULL,
	[quantidade] [int] NULL,
	[valor] [float] NULL,
 CONSTRAINT [PK_HQ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item_Venda]    Script Date: 24/06/2016 16:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item_Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[venda_ID] [int] NULL,
	[hq_ID] [int] NULL,
	[status] [char](1) NULL,
 CONSTRAINT [PK_Item_Venda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 24/06/2016 16:59:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime] NULL,
	[cliente_id] [int] NULL,
	[quantidade] [int] NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nome], [endereco], [cidade], [estado], [aniversario]) VALUES (1, N'Teste', N'Rua Teste', N'Cidade Teste', N'SP', CAST(N'2016-06-24 00:00:00.000' AS DateTime))
INSERT [dbo].[Cliente] ([id], [nome], [endereco], [cidade], [estado], [aniversario]) VALUES (2, N'Teste 2', N'Rua Teste 2', N'Cidade Teste 2', N'RJ', CAST(N'2016-06-24 00:00:00.000' AS DateTime))
INSERT [dbo].[Cliente] ([id], [nome], [endereco], [cidade], [estado], [aniversario]) VALUES (3, N'Teste 3', N'Rua Teste 3', N'Cidade Teste 3', N'PR', CAST(N'2016-06-24 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
ALTER TABLE [dbo].[HQ]  WITH CHECK ADD  CONSTRAINT [FK_HQ_Autor] FOREIGN KEY([autor_ID])
REFERENCES [dbo].[Autor] ([id])
GO
ALTER TABLE [dbo].[HQ] CHECK CONSTRAINT [FK_HQ_Autor]
GO
ALTER TABLE [dbo].[Item_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Item_Venda_HQ] FOREIGN KEY([hq_ID])
REFERENCES [dbo].[HQ] ([id])
GO
ALTER TABLE [dbo].[Item_Venda] CHECK CONSTRAINT [FK_Item_Venda_HQ]
GO
ALTER TABLE [dbo].[Item_Venda]  WITH CHECK ADD  CONSTRAINT [FK_Item_Venda_Venda] FOREIGN KEY([venda_ID])
REFERENCES [dbo].[Venda] ([id])
GO
ALTER TABLE [dbo].[Item_Venda] CHECK CONSTRAINT [FK_Item_Venda_Venda]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Cliente]
GO
USE [master]
GO
